@use 'util' as *;
@use 'font';
@use 'static';

// Reduce specificity
:where(:root) {
    @include set(
        (
            background: transparent,
        )
    );
}

:root {
    @include alias(
        (
            tint: theme-primary,
            font-icon: font-icon-outlined
        )
    );
    @include set(
        (
            padding: 16px,
            color: inherit,
            font-icon-outlined: font.$outlined,
            font-icon-rounded: font.$rounded,
            font-icon-sharp: font.$sharp,
        )
    );
}

* {
    @include assign(
        (
            font-family: font-family,
            font-weight: font-weight,
            font-size: font-size,
            letter-spacing: letter-spacing,
            line-height: line-height,
        )
    );
    @include set(
        (
            normal-elevation: 0,
            normal-state-opacity: 0,
            normal-background-color: transparent,
        )
    );
    @include alias(
        (
            elevation: normal-elevation,
            state-opacity: normal-state-opacity,
            text-color: normal-text-color,
            background-color: normal-background-color,
            outline-color: normal-outline-color,
            text-opacity: normal-text-opacity,
            background-opacity: normal-background-opacity,
            outline-opacity: normal-outline-opacity,
        )
    );
    color: RGB(md(text-color) / md(text-opacity));
    background-color: RGB(md(background-color) / md(background-opacity));
    border-color: RGB(md(outline-color) / md(outline-opacity));
}

@each $pseudo,
    $internal
        in (
            disabled: disabled,
            hover: hover,
            focus-visible: focus,
            active: active
        )
{
    * {
        @include alias(
            (
                $internal + -state-opacity: normal-state-opacity,
                $internal + -background-color: normal-background-color,
                $internal + -background-opacity: normal-background-opacity,
                $internal + -text-color: normal-text-color,
                $internal + -text-opacity: normal-text-opacity,
                $internal + -outline-color: normal-outline-color,
                $internal + -outline-opacity: normal-outline-opacity,
                $internal + -elevation: normal-elevation
            )
        );
    }
    $not: '';
    @if $pseudo != disabled {
        $not: ':not(:disabled)';
    }

    *:#{$pseudo + unquote($not)} {
        @include alias(
            (
                state-opacity: $internal + -state-opacity,
                background-color: $internal + -background-color,
                background-opacity: $internal + -background-opacity,
                text-color: $internal + -text-color,
                text-opacity: $internal + -text-opacity,
                outline-color: $internal + -outline-color,
                outline-opacity: $internal + -outline-opacity,
                elevation: $internal + -elevation,
            )
        );
    }
}
* {
    @include set(
        (
            disabled-elevation: 0,
        )
    );
}

body {
    @include font.medium_body;
    margin: md(padding);
    @include color(background);
}
