@use 'util' as *;

$family: Roboto, sans-serif;
$brand: $family;
$weight_bold: 700;
$weight_medium: 500;
$weight_regular: 400;

@mixin values($family, $weight, $height, $size, $tracking) {
    @include set(
        (
            font-family: $family,
            font-weight: $weight,
            line-height: $height,
            font-size: $size,
            letter-spacing: $tracking,
        )
    );
}

@mixin medium_title {
    @include values($family, $weight_medium, 1.5rem, 1rem, 0.009rem);
}

@mixin medium_headline {
    @include values($brand, $weight_regular, 2.25rem, 1.75rem, 0rem);
}

@mixin large_label {
    @include values($family, $weight_medium, 1.25rem, 0.875rem, 0.006rem);
}

$small_body_line_height: 1rem;

@mixin small_body {
    @include values(
        $family,
        $weight_regular,
        $small_body_line_height,
        0.75rem,
        0.025rem
    );
}
@mixin medium_body {
    @include values($family, $weight_regular, 1.25rem, 0.875rem, 0.016rem);
}
@mixin large_body {
    @include values($family, $weight_regular, 1.5rem, 1rem, 0.031rem);
}
