@use 'util' as *;

@mixin outlined {
    outline-width: 1px;
    outline-style: solid;
}

@mixin color(
    $outline_color: outline,
    $text_color: on-surface,
    $state: normal,
    $outline_opacity: 1,
    $text_opacity: 1
) {
    @include alias(
        (
            $state + -outline-color: theme- + $outline_color,
            $state + -text-color: theme- + $text_color
        )
    );
    @include set(
        (
            $state + -outline-opacity: $outline_opacity,
            $state + -text-opacity: $text_opacity
        )
    );
}
