@function md($token) {
    @return var(mdn($token));
}
@function theme($token) {
    @return var(mdn('theme-' + $token));
}

@function mdn($token) {
    @return --md- + $token;
}

@mixin alias($aliases) {
    @each $a, $b in $aliases {
        #{mdn($a)}: md($b);
    }
}

@mixin assign($assignments) {
    @each $a, $b in $assignments {
        #{$a}: md($b);
    }
}

@mixin set($values) {
    @each $a, $v in $values {
        #{mdn($a)}: $v;
    }
}

@mixin color(
    $name,
    $text_color: on- + $name,
    $state: normal,
    $background_opacity: 1,
    $text_opacity: 1
) {
    @include alias(
        (
            $state + -background-color: theme- + $name,
            $state + -text-color: theme- + $text_color
        )
    );
    @include set(
        (
            $state + -background-opacity: $background_opacity,
            $state + -text-opacity: $text_opacity
        )
    );
}
